.app {
    background-color: #282c34;
    width: 100%;
    max-width: 1920px;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: white;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    label {
        margin-bottom: 10px;
    }

    & + .wrapper {
        margin-top: 10px;
    }

}
